Repository mongodb/mongodb-atlas-kubernetes, pull requests merged in 2022-08, with the labels that each got.

#645 CLOUDP-128547: Add cloud provider access role feature
  .github/workflows/test-e2e.yml
  config/crd/bases/atlas.mongodb.com_atlasprojects.yaml
  pkg/api/v1/atlasproject_types.go
  pkg/api/v1/cloud_provider_access.go
  pkg/api/v1/status/atlasproject.go
  pkg/api/v1/status/cloud_provider_access.go
  pkg/api/v1/status/condition.go
  pkg/api/v1/status/zz_generated.deepcopy.go
  pkg/api/v1/zz_generated.deepcopy.go
  pkg/controller/atlasproject/atlasproject_controller.go
  pkg/controller/atlasproject/cloud_provider_access.go
  pkg/controller/workflow/reason.go
  test/e2e/actions/cloudaccess/aws_roles.go
  test/e2e/actions/cloudaccess/roles.go
  test/e2e/actions/kube/statuses.go
  test/e2e/cloud_access_role_test.go
  test/e2e/model/project.go
  test/e2e/private_link_test.go
  test/e2e/utils/utils.go
Labels: CLOUDP-133700

#613 Test suite minor fixes
  test/e2e/actions/helm_related.go
  test/e2e/actions/steps.go
  test/e2e/cli/kubecli/kubecli.go
  test/e2e/e2e_suite_test.go
  test/e2e/helm_chart_test.go
  test/e2e/private_link_test.go
  test/e2e/x509_test.go
Labels: safe-to-test, CLOUDP-130481

#612 CLOUDP-130482: Add test for atlasdeployments` with `keep` annotation
  .github/workflows/test-e2e.yml
  test/e2e/actions/annotations_related.go
  test/e2e/annotations_test.go
  test/e2e/cli/kubecli/kubecli.go
  test/e2e/data/atlasdeployment_basic_with_keep_resource_policy.yaml
Labels: CLOUDP-130482
