Repository mongodb/mongodb-atlas-kubernetes, pull requests merged in 2025-06, with the labels that each got.

#2399 CLOUDP-316083: Release Integrations independent CRD & controller
  PROJECT
  api/v1/atlasthirdpartyintegration_types.go
  api/v1/atlasthirdpartyintegration_types_test.go
  api/v1/status/atlasthirdpartyintegration.go
  api/v1/status/unifiedstatus.go
  api/v1/status/zz_generated.deepcopy.go
  api/v1/zz_generated.deepcopy.go
  bundle/manifests/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  config/crd/bases/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  config/crd/kustomization.yaml
  config/rbac/atlasthirdpartyintegration_editor_role.yaml
  config/rbac/atlasthirdpartyintegration_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/samples/atlas_v1_atlasthirdpartyintegration.yaml
  config/samples/kustomization.yaml
  helm-charts/atlas-operator-crds/templates/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  helm-charts/atlas-operator/rbac.yaml
  internal/controller/atlasthirdpartyintegrations/handler.go
  internal/controller/atlasthirdpartyintegrations/handler_test.go
  internal/controller/atlasthirdpartyintegrations/secret.go
  internal/controller/atlasthirdpartyintegrations/secret_test.go
  internal/controller/atlasthirdpartyintegrations/setup.go
  internal/controller/atlasthirdpartyintegrations/setup_test.go
  internal/controller/registry.go
  internal/indexer/atlasthirdpartyintegrationcredentials.go
  internal/indexer/atlasthirdpartyintegrationsecrets.go
  internal/indexer/atlasthirdpartyintegrationsecrets_test.go
  internal/indexer/atlasthirdpartyintegrationsprojects.go
  internal/indexer/atlasthirdpartyintegrationsprojects_test.go
  internal/indexer/indexer.go
  internal/nextapi/v1/status/zz_generated.deepcopy.go
  internal/nextapi/v1/zz_generated.deepcopy.go
  internal/translation/thirdpartyintegration/conversion.go
  internal/translation/thirdpartyintegration/thirdpartyintegration_test.go
  test/e2e2/integration_test.go
  test/e2e2/integrations/datadog.sample.yml
  test/e2e2/integrations/datadog.update.yml
  test/e2e2/integrations/msteams.sample.yml
  test/e2e2/integrations/msteams.update.yml
  test/e2e2/integrations/newrelic.sample.yml
  test/e2e2/integrations/newrelic.update.yml
  test/e2e2/integrations/opsgenie.sample.yml
  test/e2e2/integrations/opsgenie.update.yml
  test/e2e2/integrations/pagerduty.sample.yml
  test/e2e2/integrations/pagerduty.update.yml
  test/e2e2/integrations/prometheus.sample.yml
  test/e2e2/integrations/prometheus.update.yml
  test/e2e2/integrations/slack.sample.yml
  test/e2e2/integrations/slack.update.yml
  test/e2e2/integrations/victorops.sample.yml
  test/e2e2/integrations/victorops.update.yml
  test/e2e2/integrations/webhook.sample.yml
  test/e2e2/integrations/webhook.update.yml
Labels: test/e2e2/integrations-ctlr

#2407 CLOUDP-316083: Let integrations e2e2 run now
  test/e2e2/integration_test.go
Labels: test/e2e2/*

#2408 add all-in-one e2e test
  test/e2e2/all_in_one_test.go
  test/helper/e2e2/kube/kube.go
Labels: test/e2e2/all-in-one
