Repository mongodb/mongodb-atlas-kubernetes, pull requests merged in 2025-05, with the labels that each got.

#2330 CLOUDP-318983: Fixed typo in tag values for deployments
  api/v1/atlasdeployment_types.go
  config/crd/bases/atlas.mongodb.com_atlasdeployments.yaml
  test/int/deployment_test.go
Labels: test/int/deployment-non-backups

#2331 Fix backup compliance policy without onDemandPolicy
  api/v1/atlasbackupcompliancepolicy_types.go
  api/v1/atlasbackupcompliancepolicy_types_test.go
Labels: safe-to-test

#2345 Fix: Remove redundant tag calculation for E2E tests
  .github/workflows/test-e2e.yml
Labels: cloud-tests

#2349 CLOUDP-302383: Do not forcibly set MongoDBMajorVersion for AtlasDeployment
  .github/workflows/test-e2e.yml
  internal/translation/deployment/conversion.go
  internal/translation/deployment/conversion_test.go
Labels: cloud-tests

#2350 CLOUDP-314966: Use cloud-qa at mongodbgov for gov tests
  .github/workflows/tests-selectable.yaml
  tools/compute-test-labels/compute-test-labels
  tools/compute-test-labels/main.go
  tools/compute-test-labels/main_test.go
Labels: hold, test/e2e/teams, test/e2e/atlas-gov, test/int/AtlasProject
