Repository mongodb/mongodb-atlas-kubernetes, pull requests merged in 2025-04, with the labels that each got.

#2249 CLOUDP-309672: bump golangci lint and Go 1.24
  .github/actions/gen-install-scripts/Dockerfile
  .golangci.yml
  .licenses-gomod.sha256
  api/v1/atlasbackuppolicy_types.go
  api/v1/atlasbackupschedule_types.go
  api/v1/atlasfederatedauth_types.go
  api/v1/atlassearchindexconfig_types.go
  api/v1/global_deployment.go
  api/v1/status/deployment_searchindex.go
  api/v1/status/global_deployment.go
  devbox.json
  devbox.lock
  fast.Dockerfile
  flakes/go/flake.lock
  flakes/go/flake.nix
  go.mod
  internal/controller/atlasdatabaseuser/atlasdatabaseuser_controller.go
  licenses.csv
  test/app/Dockerfile
  test/app/go.mod
  tools/clean/atlas/atlas.go
  tools/clean/go.mod
  tools/clean/main.go
  tools/makejwt/go.mod
  tools/metrics/go.mod
Labels: cloud-tests

#2240 CLOUDP-296897: Allow to select tests to run
  .github/workflows/sync-helm-charts.yaml
  .github/workflows/tests-selectable.yaml
  Makefile
  tools/compute-test-labels/main.go
  tools/compute-test-labels/main_test.go
Labels: test/int/AtlasBackupSchedule, test/e2e/alert-config

#2273 CLOUDP-313568: Adjust cluster instances to bypass Atlas slowness
  test/e2e/atlas_gov_test.go
  test/int/deployment_test.go
Labels: test/int/AtlasDeploymentSharding

#2252 CLOUDP-308490: add supported OpenShift versions
  .github/actions/gen-install-scripts/entrypoint.sh
  bundle.Dockerfile
  docs/dev/ci.md
  scripts/release-redhat-certified.sh
Labels: cloud-tests

#2268 CLOUDP-313040: Fix DryRun
  internal/controller/atlasproject/teams.go
  internal/controller/atlasproject/teams_test.go
Labels: test/e2e/teams, test/e2e/dry-run, test/int/AtlasProject

#2294 CLOUDP-312253: Configure codecov
  .github/codecov.yml
  .github/workflows/test-e2e-gov.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-int.yml
Labels: cloud-tests
